<div class="container">

  <div class="alert alert-warning">
    {{message}}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading" data-i18n>
          Welcome {{name}}
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            {{ships}}
          </li>
          <li class="list-group-item">
            {{ngettext "There is 1 new alert" "There are %d new alerts" alerts}}
          </li>
          <li class="list-group-item">
            {{ngettext "There is %d new warning" "There are %d new warnings" warnings}}
          </li>
        </ul>
      </div>
      <div class="flag {{locale}}" title="{{locale}}"></div>
    </div>

    <div class="col-sm-6">
      <form class="login__form form">
        <h3 data-i18n>Login</h3>
        <p class="login__lead" data-i18n>
          Please enter your email and password to log in
        </p>
        <div class="form-group">
            <label for="username" data-i18n>Email</label>
            <input type="text" class="form-control" name="username" autocorrect="off" autocapitalize="off" value="{{{prefill.username}}}">
        </div>
        <div class="form-group">
            <label for="password" data-i18n>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember"> <span data-i18n>Remember Me</span>
            </label>
        </div>
        <button type="submit" class="login__submit btn btn-block btn-primary" data-i18n>Login</button>
        <p class="text-center small"><a href="#login/forgot" data-i18n>Forgot your password</a></p>
      </form>
    </div>

  </div>
</div>

<footer class="{{locale}}">
  Language: <a class="de" href="../de">de</a> | <a class="en" href="../en">en</a> | <a class="es" href="../es">es</a>
</footer>
